<!DOCTYPE HTML>
<html>
    <head>
        <meta charset="UTF-8" >
        <meta name='viewport' content="width=device-width, initial-scale=1" >
        <title>Inventory Manager</title>
        {% load static %}
    </head>
    <body>
        <div id="main">
            <div id="app"></div>
        </div>

        <script src="{% static "frontend/main.js" %}"></script>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Lobster+Two&display=swap" rel="stylesheet"> 
        <link rel="stylesheet" href="../../static/css/App.css"></link>
    </body>
</html>